.card-camera:hover {
    text-decoration:none;
}

.card-camera {
    color: #3b4044!important;
}

.btn-primary {
    background: #9c6dfa;
    border: none;
}
.btn-primary:hover {
    background: #ab85f8;
    border: none;
}
.card {
    border: none;
}
img.card-img-top {
    width: auto;
    object-fit: cover;
}

#cameraname {
    font-weight: bold;
    color: #9c6dfa;
    font-size: 1.5em;
}

#cameraprice {
    font-weight: bold;
}